.dark {
  color: rgba(229, 224, 216, 0.85);
  --el-button-text-color: rgba(229, 224, 216, 0.85);
  --el-color-primary: #1668dc;
  --el-color-danger: #ec5b59;
  --el-button-bg-color: rgb(36, 37, 37);
  --el-border: 1px solid rgb(69, 72, 71);
  .el-card {
    background-color: rgb(36, 37, 37);
    border: none;
  }
  .el-input {
    &__wrapper {
      background-color: rgb(36, 37, 37);
      box-shadow: none;
      border: 1px solid rgb(69, 72, 71);
      &:hover {
        box-shadow: none;
        border: 1px solid #1b519c;
      }
    }
    &__inner {
      color: rgba(229, 224, 216, 0.85);
    }

    .is-focus {
      outline-color: initial;
      border: 1px solid #1b519c;
      box-shadow: 0 0 0 2px rgba(23, 101, 174, 0.2);
    }

  }

  .el-form-item {
    &__label {
      color: rgba(229, 224, 216, 0.85);
    }
  }

  .el-form-item.is-error .el-input__wrapper {
    box-shadow: none;
    border: 1px solid #ec5b59;
  }

  .el-button {
    color: rgba(229, 224, 216, 0.85);
    background-color: rgb(36, 37, 37);
    border: 1px solid rgb(69, 72, 71) ;
    &--primary {
      background-color: #185ec1;
      border-color: #1b519c;
      .is-link {
       background-color: transparent;
      }
    }

  }
  .el-link {
    --el-link-text-color: rgba(229, 224, 216, 0.85);
    .el-icon {
      margin-right: 4px;
    }
    &--primary {
      --el-link-text-color: var(--el-color-primary);
    }
  }

  .el-tag--success {
    --el-tag-bg-color: #52c41a;
    --el-tag-border-color: #52c41a;
    color: #fff;
  }

}